<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../style.css">
    <title>TP2 Integración Tecnológica - Philip Johnson, Rodrigo Toyama</title>
</head>
<body>
    <section>
        <div class="row">
            <div class="title">
                <h2>Integración Tecnológica TP2</h2>
            </div>
        </div>
        <div class="container">
            <div id="video_player">
                <video controls id="main-Video" src=""></video>
            </div>
            <div class="playlistBx">
                <div class="header">
                    <div class="row">
                        <span class="AllClases"></span>
                    </div>
                </div>
                <ul class="playlist" id="playlist">
                </ul>
            </div>
        </div>
    </section>
    <script src="../video-list.js"></script>
    <script src="../script.js"></script>
</body>
</html>